<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>@ViewData["Title"] - Skateboard 3</title>
		<link rel="icon" type="image/x-icon" href="~/favicon.ico" />
		<link rel="stylesheet" href="~/css/skateboard.css"/>
		<script src="~/js/skateboard.js"></script>
    </head>
	<body onLoad="onPageLoad();">
		@Html.Partial("_Header")

		@RenderBody()

		@Html.Partial("_Footer")

		@RenderSection("Scripts", false)
	</body>
</html>